@font-face {
  font-family: 'sfpro'; /* Replace with your custom font's name */
  src: url(/public/SF-Pro-Text-Regular.otf)
}



body {
  background-color: #000000;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
}
